body {
   font-family: Impact, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 72px;

}

h2 {
  color: #7F3FBF;

}

.borderbottom {
  border-bottom: 3px solid #7F3FBF;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.blockimg {
  display: block;

}

body {
background-color: #fbd335;
}

a {
 color: #ED0277;
 text-decoration: none;
}

a:hover {
 color: #ED0202;
 text-decoration: underline;


 .spanstyle {
   color: #00FF00;

 }
