body {
   font-family: Impact, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 72px;

}

.boots {
  font-size: 22pt;
  color: #8D28FE;
}

.redtext {
color: #ED0202;
}

.magentatext {
  color: #FF38F1;
}

.purpletext {
  color: #8D28FE;
}

.borderbottom {
  border-bottom: 3px solid #7F3FBF;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.bordertop {
  border-top: 3px solid #7F3FBF;
  margin-top: 15px;
  padding-top: 15px;
}

.blockimg {
  display: block;

}

body {
background-color: #fbd335;
}

a {
 color: #FF38F1;
 text-decoration: none;
}

a:hover {
 color: #ED0202;
 text-decoration: underline;
