/* This is my new stylesheet */
/*
p {
 color: #ff0000;
 background-color: #0000FF;
}
*/

h1 {
color: #FFFFFF;
  background-color: #3FBF3F

}

a {
 color: #ff0000;
 text-decoration: none;

}

a:link {
 color: #00ff00;
}

a:visited {
 color: #0000ff;
}

a:active {
 color: #00ffff;
}


a:hover {
 color: #ff0000;
 text-decoration: underline;
}
.spanstyle {
  color: #00FF00;

}

#divexample {
  color: #0000FF;
  background-color: #FFFF00;
}

#specialid {
 background-color: #000000;
}

.specialp {
  color: #00FF00;
  background-color: #FFFFFF;
}
footer {
  color: #ffffff;
  background-color: #FF0000;
}
